#imagem{
    text-align: center;
}

h1 {
font-size: 30px;
text-align: center;
}
h2 {
    text-align: ju;
    }

.texto {
    text-align: justify;
    color:rgb(33, 31, 31);
    font-size: 20px;
}

body{
    background-color: #c7dbeb;
}

